<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <%- include('../partials/head') %> <% if (typeof pageStyle !== 'undefined'
    && pageStyle) { %>
    <link
      rel="stylesheet"
      href="/css/themes/default/pages/<%= pageStyle %>.css"
    />
    <% } %>
  </head>
  <body>
    <div class="app-container">
      <%- include('../partials/header') %> <%- include('../partials/navigation')
      %>

      <div class="content-wrapper" id="contentWrapper">
        <main class="main-content"><%- body %></main>
      </div>
    </div>

    <%- include('../partials/scripts') %>
    <script src="/js/youtube-style.js"></script>
  </body>
</html>
